---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

	  <header>
            <div class="container">
				<img src="public/image-logo.png" alt="BreathBand Logo" class="w-16 h-16" />
                <p class="logo">BreathBand</p>
                <nav>
                    <a href="#BreathBand">BreathBand</a>
                    <a href="sobre nosotros/sobre.html">Sobre Nosotros</a>
                    <a href="más información/info.html">Más información</a>
                </nav>
            </div>
    </header>

    <section class="front-page">
        <h1>Breath<span>Band</span></h1>
        <br>
        <p>Tú ritmo, tú vida</p>
    </section>

    <section class="who-are-we">
        <h2>¿Quiénes somos?</h2>
        <p>
        Somos dos estudiantes del Colegio Técnico Profesional del este con deseos de innovar y al mismo tiempo ayudar con la tecnología. 
        BreathBand nace de esa necesidad de ayudar a 
        las personas que sufren ataques de ansiedad que buscan una solución de apoyo mediante la tecnología, 
        si lo pensamos la ansiedad no es algo con que jugar, más de 300millones de personas en el mundo sufren ataques de ansiedad y 
        todo el mundo mínimo lo ha experimentado alguna vez en su vida. 
        Nosotros lo hemos vivido en carne y hueso y sabemos lo importante que es tener herramientas accesibles.
        </p>
        <img src="..." alt="...">
    </section>

    <section class="what-is-breathband">
        <h2>¿Qué es BreathBand?</h2>
        <p>
        BreathBand es un dispositivo portátil que ayuda a las personas a controlar su respiración y reducir la ansiedad. 
        Utiliza tecnología avanzada para medir la frecuencia cardíaca y la variabilidad de la frecuencia cardíaca, 
        proporcionando retroalimentación en tiempo real sobre el estado del usuario. 
        Con BreathBand, los usuarios pueden aprender a respirar de manera más efectiva, lo que les ayuda a sentirse más tranquilos y centrados.
        </p>
    </section>

    <section class="mission-and-vision">
        <h2>Misión y Visión</h2>
        <p>
            <span>Misión:</span> Crear tecnología accesible y útil para mejorar la salud mental de las personas en su día a día.
            <span>Visión:</span> Ayudar a todas esas personas con ansiedad a sentirse mejor.
        </p>
    </section>

    <section class="our-values">
        <h2>Nuestros Valores</h2>
        <ul>
            <li>Innovación</li>
            <li>Compromiso</li>
            <li>Empatía</li>
            <li>Accesibilidad</li>
        </ul>
    </section>

    <section class="what-is-different">
        <h2>¿Qué nos hace diferentes?</h2>
        <img src="public//icono-celular.png" alt="celular">
        <img src="public/icono-alerta.png" alt="alerta">
        <img src="public//icono-reloj.png" alt="reloj">
        <img src="public//icono-desarrollo.png" alt="desarrollo">
    </section>

    <section class="team">
        <h2>Nuestro equipo</h2>
        <p>nombre 1</p>
        <img src="..." alt="...">
        <p>nombre 2</p>
        <img src="..." alt="...">
    </section>

    <section class="acknowledgment">

    </section>

    <section class="colaborate-with-us">

    </section>

</Layout>
