---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Project from '../components/Project.astro';
import Who from '../components/Who.astro';
import Colaborate from '../components/Colaborate.astro';
import Thanks from '../components/Thanks.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

    
    <Hero />
    <Project />

    <main class="pt-32 md:pt-0 px-4 sm:px-8 max-w-7xl mx-auto space-y-20"> 
        <Who />
        <Colaborate />
        <Thanks />
    </main>

    

</Layout>
