---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	  <header>
            <div class="container">
				<img src="public/image-logo.png" alt="BreathBand Logo" class="w-16 h-16" />
                <p class="logo">BreathBand</p>
                <nav>
                    <a href="#BreathBand">BreathBand</a>
                    <a href="sobre nosotros/sobre.html">Sobre Nosotros</a>
                    <a href="m치s informaci칩n/info.html">M치s informaci칩n</a>
                </nav>
            </div>
    </header>
</Layout>
