---
// Hero.astro
---

<section id="hero" class="p-8 sm:p-12 text-center">
        <h1 class="text-5xl font-extrabold">
          Breath<span class="text-[#008618]">Band</span>
        </h1>
        <p class="mt-4 text-xl text-[#009b1c]">Tú ritmo, tú vida</p>
</section>